@using Microsoft.EntityFrameworkCore
@model PajoPhone.Models.ProductViewModel

@{
    ViewData["Title"] = "Edit/Create";
}
<h4>Product</h4>
<hr />
<div class="row d-grid">
    <div class="col-md-4">
        <form  method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
                <div>
                    <label asp-for="ImageFile">Upload Image</label>
                    <input asp-for="ImageFile" type="file" class="form-control" />
                </div>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div id="categoryTreeContainer" class="mb-3">
                <input type="hidden" id="selectedParentCategoryId" name="CategoryId"/>
                @await Html.PartialAsync("_CategoryTreePartial")
            </div>
            <div id="fieldKeysContainer">
                <div id="fieldKeysList">
                    <partial id="KeyValueInput" name="_KeyValueInputPartial" model="Model.FieldsValues"/>
                </div>
            </div>
            <div class="form-group">
                        <button type="submit" class="btn btn-success">Save</button>
            </div>
        </form>
    </div>
</div>
<script>
    let isFirstTime =true;
    $('#categoryTree').on("select_node.jstree", function (e, data) {
        var categoryId = data.node.id;
        $('#selectedParentCategoryId').val(categoryId);
        if (!isFirstTime){
        $.ajax({
            url: '@Url.Action("GetKeyValueInputs", "Product")',
            data: { categoryId: categoryId,
                productId: $("#Id").val()
            },
            success: function (data) {
                $('#fieldKeysList').html(data);
            }
        });
        }
        isFirstTime=false;
    });
       $('#categoryTree').on('loaded.jstree', function() {
                                           $('#categoryTree').jstree("select_node", '@Model.CategoryId');
                                     });
</script>
