<!-- Views/Shared/_CategoryTreePartial.cshtml -->
<div id="categoryTree"></div>
<input type="hidden" id="selectedParentCategoryId" name="ParentCategoryId" />

<script>
    $(document).ready(function () {
        $('#categoryTree').jstree({
            'core': {
                'data': {
                    'url': '@Url.Action("GetCategoryTreeData", "Category")',
                    'dataType': 'json'
                }
            }
        }).on('select_node.jstree', function (e, data) {
            // Get the ID of the selected node
            var selectedNodeId = data.node.id;
            $('#selectedParentCategoryId').val(selectedNodeId);
        });
    });
</script>
