<div id="categoryTree"></div>
@* yo have to define an input under the div for each page in the way you want to have the data of it
for example:<input type="hidden" id="selectedParentCategoryId" name="WANTED_MODEL"/*@
    

<script>
    $(document).ready(function () {
        $('#categoryTree').jstree({
            'core': {
                'data': {
                    'url': '@Url.Action("GetCategoryTreeData", "Category")',
                    'dataType': 'json'
                }
            }
        }).on('select_node.jstree', function (e, data) {
            var selectedNodeId = data.node.id;
            $('#selectedParentCategoryId').val(selectedNodeId);
        });
    });
</script>
