<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
      <meta charset="UTF-8" />
          <meta http-equiv="X-UA-Compatible" content="IE=edge" />
          <meta name="viewport" content="width=device-width, initial-scale=1.0" />
          <title>Pajo Phone</title>
          <link rel="stylesheet" href="~/css/output.css" />
              <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.js" defer></script>
    <title>@ViewData["Title"]</title>
</head>
    
    <body class="bg-gray-100" x-data="{ isOpen: false }">

@RenderBody()
      <script src="~/js/site.js"></script>
</body>
</html>